body{
    font-family: "microsoft yahei";
    background:#fff;
    // text-shadow:0px 0px 1px #eee;
    a{
        color:#999;
        // text-decoration: none;
        &:hover{
            text-decoration: none;
            color:#999;
        }
    }
    p{
        margin:0;
    }
}
@-webkit-keyframes "animate" {
    0%{
        transform:scale(0);
        opacity:1;
    }
    100%{
        transform:scale(3);
        opacity:0;
    }
}
.j_container{
    padding-top: 70px;
}
.navbar-collapse.in{
    background:#000;
}
#canvas{
    position:fixed;
    top:0;
    left:0;
    z-index: -1;

}
.navbar{
    background:none !important;
    border:0 !important;
    .active{
        a{
            background:rgba(0,0,0,0.5) !important;
        }
    }
    a{
        color:#eee !important;
    }
}
.navbar-right{
    padding-right: 30px;
    li{
        text-align: center;
    }
    span{
        font-size: 15px;
        line-height: 50px;
        padding-left: 10px;
        &:hover{
            a{
                color:#fff;
            }
        }
        .fa-inverse{
            color:#222;
            line-height: 30px;
            text-shadow:none !important;
            font-size: 18px;
        }
        .fa-github{
            font-size: 30px;
            line-height: 35px;
        }
    }
}
.navbar-form{
    position:relative;
    input{
        background:none;
        border:1px rgba(255,255,255,0.5) solid;
        border-radius: 100px;
        padding-right: 30px;
    }
    button{
        background:none;
        border:0;
        position: absolute;
        color: #999;
        top: 0;
        bottom: 0;
        margin: auto;
        right:17px;
        border-radius: 100px;
        &:hover{
            background:none;
            color: #fff;

        }
    }
}
.tags{
    .tag0{
        border-radius: 100px;
        border:1px #ccc solid;
        padding:0 10px;
        color:#999;
        font-size: 10px;
        margin-right: 5px;
        display: inline-block;
    }
    .tag1{
        @extend .tag0;
        border:1px green solid;
        color:green;
    }
    .tag2{
        @extend .tag0;
        border:1px blue solid;
        color:blue;
    }
    .go{
        // border:1px red solid;
        // width:20px;
        // height:20px;
        // border-radius: 100px;
    }

}
.points{
    position:relative;
    margin-right: 10px;
    opacity: 0;
    .point{
        position:absolute;
        border-radius: 100px;
        width:10px;
        height:10px;
        margin:0;
        padding:0;
        display:inline-block;
        animation:animate 3s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    .r1{
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
        border:1px red solid;
        background:red;
    }
    .r2{
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
        border:1px yellow solid;
        background:yellow;

    }
    .r3{
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
        animation-delay: 2s;
        border:1px #00ffff solid;
        background:#00ffff;
    }
    .r4{
        position:absolute;
        border-radius: 100px;
        width:10px;
        height:10px;
        padding:0;
        display:inline-block;
        background:#fff;
    }
}
.demos{
    margin-top: 20px;
    .demo{
        margin-bottom: 20px;
        background:rgba(255,255,255,0.05);
        transition:0.5s;
        color:#fff;
        padding:10px;
        h3{
            font-size: 16px;
            margin:0;
            margin-bottom: 10px;
            color:#999;
        }
        .imgview{
            transition:1s;
            max-height: 100px;
            overflow: hidden;
            // box-shadow: 0px 0px 5px 5px #000 inset;
            margin-bottom: 10px;
            border-radius: 5px;
            img{
                width:100%;
                opacity: 0.2;
            }
        }
        &:hover{
            box-shadow: 0px 0px 5px rgba(255,255,255,0.2);;
            background:rgba(255,255,255,0.2);
            .imgview{
                img{
                    opacity:1;
                }
            }
            h3{
                color:#fff;
            }
            span{
                border-color: #fff;
                color:#fff;
            }
            a{
                color:#fff;
            }
            .points{
                opacity:1;
            }
        }
    }

}

.head{
    max-width: 200px;
    max-height: 200px;
    width:100%;
}

.liumin{
    color:#ccc;
    // background:url("../img/21.jpg");
    padding:70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-position: 50% 50%;
    // -webkit-background-size: 100%;
    h1{
        font-size: 25px;
    }
    .button{
            width: 202px;
            height: 80px;
            padding-top: 22px;
            padding-left: 68px;
            font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
            font-size: 23px;
            line-height: 1.2;
            color: #fff;
            text-align: center;
            display: block;
    }
    a.button{
        background:url("../img/github-button.png");
        background-size: 100% 100%;
        display: block;
    }
    small {
        display: block;
        font-size: 11px;
    }
}
